<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="ImagesPeopleFolder" value="C:\Library-People-Images\"/>
		<add key="KeyPath" value="HKEY_CURRENT_USER\SOFTWARE\LibraryBook"/>
		<add key="ImagesBookFolder" value="C:\Library-Book-Images\"/>
	</appSettings>
	
	<connectionStrings>
	<add name="MyDBConnection" connectionString="Server=.;Database=DB_LibraryBook;User Id=sa;Password=sa123456;" />
	</connectionStrings>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>